In [20]:
import pandas as pd 
import numpy as np
import csv 

# Importing the datase
search_date = pd.read_excel('/Users/mikey/Desktop/witailer /SearchQuerysDB.xlsx', sheet_name='DB')

In [21]:
search_date

,Search Term,luglio 2021,agosto 2021,settembre 2021,ottobre 2021,novembre 2021,dicembre 2021,gennaio 2022,febbraio 2022,marzo 2022,...,maggio 2022,giugno 2022,luglio 2022,agosto 2022,settembre 2022,ottobre 2022,novembre 2022,dicembre 2022,gennaio 2023,febbraio 2023
0,0,411.0790,504.0772,487.9036,NaN,284.3858,NaN,NaN,412.4268,NaN,...,NaN,277.6468,350.4280,NaN,NaN,NaN,NaN,NaN,NaN,199.4744
1,0 euro,665.8132,432.6438,NaN,NaN,NaN,566.076,NaN,NaN,541.8156,...,NaN,NaN,354.4714,444.774,NaN,863.9398,615.9446,1000.0676,NaN,NaN
2,0mega,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0pp0 find x5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,998.7198,NaN,NaN,NaN
4,0w20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208.9090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392672,zzzquil natura melatonina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0676,407.0356,NaN
392673,zzzquil per dormire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,411.0790,280.3424
392674,zzzquil+natura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,353.1236,350.4280
392675,zzzquill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392676,zzzz quil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,402.9922,615.9446,353.1236,225.0826

# Search_date cleaning

In [22]:
# checking for duplicates 
search_date.duplicated(subset=search_date.columns).sum()

0

In [23]:
#checking for null values
search_date.isnull().sum()

Search Term            0
luglio 2021       292181
agosto 2021       293627
settembre 2021    287366
ottobre 2021      281451
novembre 2021     248704
dicembre 2021     237965
gennaio 2022      271641
febbraio 2022     287373
marzo 2022        283465
aprile 2022       249497
maggio 2022       285084
giugno 2022       286906
luglio 2022       274480
agosto 2022       276538
settembre 2022    270066
ottobre 2022      257105
novembre 2022     218639
dicembre 2022     218579
gennaio 2023      230224
febbraio 2023     248773
dtype: int64

# bye stop words

In [24]:
import re
import string
from nltk.tokenize import word_tokenize

from nltk import word_tokenize, pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

def clean(text):
    # Lowercase
    text = str(text).lower()
    # Remove special text in brackets ([chorus],[guitar],etc)
    text = re.sub('\[.*?\]', '', text)
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Remove words containing numbers
    text = re.sub(r'\w*\d\w*', '', text)
    # Remove quotes
    text = re.sub('[‘’“”…]', '', text)
    # Remove plus sign
    text = text.replace('\u002B', ' ')
    # Remove new line \n 
    text = text.replace('\n', ' ')
    # Remove URLs
    text = re.sub(r"http\S+", "", text)
    
    return text


def lemmatize_tag(text):
    '''
    This function lemmatizes the text and keeps the tag.
    Lemmatization is the process of grouping together the inflected forms of a word so they can be analyzed as a single item.
    '''
    lemmatizer = WordNetLemmatizer()
    tagged_words = pos_tag(word_tokenize(text))
    lemmas = []
    
    for word, tag in tagged_words:
        pos = get_wordnet_pos(tag)
        if pos is None:
            lemma = lemmatizer.lemmatize(word)
        else:
            lemma = lemmatizer.lemmatize(word, pos=pos)
        if len(lemma) > 1:
            lemmas.append(lemma)
    
    return ' '.join(lemmas)

def get_wordnet_pos(treebank_tag):
    """
    Convert the POS tag from the treebank format to the WordNet format.
    """
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/mikey/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /Users/mikey/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [25]:
# Add a clean_search column 
search_date['new_search'] = search_date['Search Term'].apply(clean)
search_date['new_search'] = search_date['new_search'].apply(lemmatize_tag)

In [26]:
search_date_new = search_date[['new_search']]

In [27]:
search_date_new

                       new_search
0
1                            euro
2
3                            find
4
...                           ...
392672  zzzquil natura melatonina
392673        zzzquil per dormire
392674              zzzquilnatura
392675                   zzzquill
392676                  zzzz quil

[392677 rows x 1 columns]

In [28]:
# we use the librarie to create the 300 topics with the top 15 words

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF
import pandas as pd


tfidf = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')
doc_term_matrix = tfidf.fit_transform(search_date_new['new_search'])


n_topics = 300


nmf_model = NMF(n_components=n_topics, init='nndsvd')


nmf_model.fit(doc_term_matrix)


feature_names = tfidf.get_feature_names()
topics = []
n_top_words = 15

for topic_idx, topic in enumerate(nmf_model.components_):
    top_words = [feature_names[i] for i in topic.argsort()[:-n_top_words - 1:-1]]
    topics.append((topic_idx, top_words))


topics_df = pd.DataFrame(topics, columns=['Topic', 'Top Words'])

print(topics_df)

/Users/mikey/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

     Topic                                          Top Words
0        0  [donna, elegante, stivali, eleganti, abito, gu...
1        1  [bambino, anno, asilo, colori, sonic, lavagna,...
2        2  [samsung, fe, flip, qled, caricabatterie, fold...
3        3  [natale, babbo, palle, alberi, famiglia, magli...
4        4  [uomo, armani, tommy, camicia, hilfiger, jean,...
..     ...                                                ...
295    295  [trucchi, make, organizer, ferragni, chiara, i...
296    296  [telecamera, lampadina, drone, spia, ezviz, mi...
297    297  [palestra, thun, presepe, tappetino, pesi, cin...
298    298  [passeggino, chicco, telecomando, universale, ...
299    299  [idee, originali, regalo, matrimonio, fidanzat...

[300 rows x 2 columns]

In [29]:
topics_df.to_excel('300_brands.xlsx')